@charset "utf-8";
/* CSS Document */


body { background:url(../img/new.jpg) repeat;
	
}
img{
    max-width:100% !important;
    max-height:100% !important;
    display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:20px;
}
.wrapper{
background-color:#FFFFFF;
padding-top: 50px;
padding-bottom: 30px;
webkit-border-radius: 0px 0px 10px 10px;
-moz-border-radius:0px 0px 10px 10px;
border-radius: 0px 0px 10px 10px;
-webkit-box-shadow: #B3B3B3 0px 0px 4px;
-moz-box-shadow: #B3B3B3 0px 0px 4px;
 box-shadow: #B3B3B3 0px 0px 4px;
 }
 
 
 

.title{font-family:'Calibri Bold'; text-align:center; padding-top:20px; padding-bottom:50px; font-size:50%; } 
.title_c{font-family:'Calibri Bold';}
.title_b{font-family:'Calibri Bold'; font-style:italic; text-align:center;}



.form-horizontal{ text-align:center; margin-left:auto; margin-right:auto; width:30%; margin-top:5%;}
 
 
 
  @media (max-width: 780px) {
  .form-horizontal {
    width:60%;
  }
  
  }
 
 @media (max-width: 600px) {
  .form-horizontal {
    width:100%;
  }
  
  }