@charset "utf-8";
/* CSS Document */


body { background:url(../img/new.jpg) repeat;
	
}
img{
    max-width:100% !important;
    max-height:100% !important;
    display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
}
.wrapper{
background-color:#FFFFFF;
padding-top: 50px;
padding-bottom: 30px;
webkit-border-radius: 0px 0px 10px 10px;
-moz-border-radius:0px 0px 10px 10px;
border-radius: 0px 0px 10px 10px;
-webkit-box-shadow: #B3B3B3 0px 0px 4px;
-moz-box-shadow: #B3B3B3 0px 0px 4px;
 box-shadow: #B3B3B3 0px 0px 4px;
 }
 
 
 
/*STYLE FOR THE BACK TO TOP*/
#backtotop {
	position: fixed;
	right:0px;
	bottom:15px;
	display:none;/*HID THE BUTTON FIRST*/
	border:none;
	z-index:100000;
	border:solid 1px #737373;
}
#backtotop a {
	text-decoration:none;
	border:0 none;
	display:block;
	width:50%;
	height:50%;
}
#backtotop a:hover {
	opacity:.8; /*MOUSE OVER FADE EFFECT*/
	text-decoration:none;
}
.clrb {
	clear:both;
}
/* SCROLL UP */
.scrollup{
    position:fixed;
	width: 48px !important;
	height: 48px !important;
	line-height: 48px !important;
    bottom:20px;
    right:20px;
	margin-right:20px;
}
/* SCROLL UP BACKGROUND COLOR */
.scrollup { background-color: #FFFFFF; width: 48px !important;
	height: 48px !important; text-decoration:none;
	}
/* SCROLL UP A HREF TEXT COLOR */
.scrollup a:href{color:#012756; text-decoration:none;}
/* SCROLL UP A HOVER TEXT COLOR */
.scrollup a:hover{  text-decoration:none;}
/* SCROLL UP A HOVER BACKGROUND COLOR*/

/* SCROLL UP I STILE */
.scrollup i { 
line-height: 48px !important;
	padding-left:12px;
	font-size:36px;	
	margin-left:auto;
	margin-right:auto;
}
 .contentscroll3{ width:200px; height:100px;}
.title{font-family:'Handlee'; text-align:center; padding-top:20px; padding-bottom:50px; } 

.form-horizontal{ text-align:center; margin-left:auto; margin-right:auto; width:30%;}
 /*VEGAS BACKGROUNS SLIDESHOW*/
